.rows {
	margin:10px;
	color: white;
}

.row {
	margin-top:10px;
}

.poster_row {
	overflow-y:hidden;
	overflow-x:scroll;
	display:flex;
	flex-direction: row;
	-webkit-overflow-scrolling: touch;
	scroll-snap-type: x mandatory; padding: 10px;
}

.poster_row::-webkit-scrollbar {
	display:none;
}

.poster_row > img {
  height: 100px;
  object-fit:contain;
  transition: transform 450ms;
  margin-right: 10px;
  scroll-snap-align:start;
}

.poster_row > img:hover {
  transform:scale(1.08);
}

.poster_row > .big_img {
	height: 250px;
}